.card-group .card-img-top {
    height: 200px
}

.icon {
    width: 69px;
    height: 69px;
}

.size {
    width: 100%
}

.carousel {
  width:900px;
  height:560px;
}

.font {
    font-size: 7em;
}

.toast-sty {
    position: absolute;
    bottom: 0;
    right: 0;
}
